root{

    // khroma colors 
    --forest-green: #24be38;
    --green-haze: #03b536;
    --emerald: #3cd052;
    --apple: #3cc539;
    --parsley: #264f18;
    --everglade: #1f4c2b;
    --elm: #1a7d70;
    --torea-bay: #10219e;
    --persian-blue: #1e47c0;
    --bay-of-many: #2a3880;
    --bright-turqouise: #1a7d70;
    --iceberg: #cfebf0;
    --swans-down: #d8ece8;
    --french-pass:#c3fcf7 ;
    --onahau: #cbfefb;
    --cruise: #baf0df;
    --jagged-ice: #d0eaee;
    --sprout: #bcd1a9;
    --pineglade: #b2cc99;
    --limed-spruce: #3c4b52;
    --woodybrown: #3e2c2a;
    --codobean: #4e281d;
    --craterbrown: #422626;
    --engish-walnut: #442c24;
    --saddle: #4d3626;
    --rock: #45332d;
    --sorrell-brown: #c7b87c;
    --dark-burgundy: #7c0903;
    --burgundy: #590016;
    --crimson: #e41511;
    --torch-red: #fc1626;
    --red: #f31014;
    --scarlet: #f23005;
    --brickred: #d4293a;
    --milano-red: #c31606;
    --newyork-pink: #d88c7d;
    --totempole: #8e090b;
    --inchwork: #bad314;
    --riogrande: #b2d905;
    --atlantis: #94d140;
    --limepie: #bcd020;
    --straw: #ccbe7f;
    --drover: #fdf4b9;

    // Flat UI colors 

    --turquoise: #1abc9c;
    --greensea: #16a085;
    --emrald: #2ecc71;
    --nephritis: #27ae60;
    --peterriver: #3498db;
    --belieze-hole: #2980b9;
    --amethyst: #9b59b6;
    --wisteria: #8e44ad;
    --wetasphalt: #34495e;
    --midnight-blue: #2c3e50;
    --sunflower: #f1c40f;
    --carrot: #e67e22;
    --pumpkin: #d35400;
    --alazarin: #e74c3c;
    --pomegranate: #c0392b;
    --clouds: #ecf0f1;
    --silver: #bdc3c7;
    --concrete: #95a5a6;
    --abestos: #7f8c8d;

    // Dutch palette from Flat UI 

    
    

  }