main{
    width: 90%;
    margin: 0 auto;
    
}
footer{
    height: 20vh;
}
div, nav{
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}
header{
    height: 40vh;
    background-color: #242323;
}
h1{
    text-transform: capitalize;
}
nav{
    background-color: #0c0b0b;
}
.size-20vh {
    height: 20vh;
}
.made-with-col-9{
    height: 12vh;
    border-radius: 5px;
    margin: 8px;
}
.made-with-col-3{
    height: 12vh;
    border-radius: 5px;
    color: #000000;
    margin: 8px;
}
.padding-8px{
    padding: 8px;
}

.made-with-col-12{
    height: 12vh;
    border-radius: 5px;
    margin: 8px;
}
.made-with-col-6{
    height: 12vh;
    border-radius: 5px;
    color: #000000;
    margin: 8px;
}
.made-with-col-5{
    height: 12vh;
    border-radius: 5px;
    color: #000000;
    margin: 8px;
}
.footer-text{
    height: 14vh;
}