/* Framework Layout */

$grid-gaps: (
    wide: 50px,
    mid-gap: 25px,
    narrow: 10px
);
$breakpoints: (
    sm:768px,
    md: 992px,
    lg: 1024px
);

@mixin create-grid($direction) {
   @for $size from 1 through 12{
       .col-#{$size}{
           grid-#{$direction}:span $size;
       }
   }
   @each $gap, $size in $grid-gaps {
       .#{$gap}{
           gap: $size
       }
   }
   @media only screen and (max-wdith) {
       
   }
}
.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    @include create-grid(column);
}

.mg-top{
    margin-top: 20px;
}

.mg-bottom{
    margin-bottom: 20px;
}
.mgleft{
    margin-left: 20px;
}
.mag-right{
    margin-right: 20px;
}
.mg-all{
    margin: 20px;
}
.mg-topbttom{
    margin: 20px 0;
}
.mg-leftright{
    margin: 0 20px;
}