/* Framework Layout */

// Global Configurations
$display-grid: grid; 
$display-flex: flex;
$grid-config-size: 12;
$grid-config-fr: 1fr;

.row{display: $display-grid;grid-template-columns: repeat($grid-config-size, $grid-config-fr);}
.col-12{grid-column: $grid-config-size}
.col-11{grid-column: span 11}
.col-10{grid-column: span 10}
.col-9{grid-column: span 9}
.col-8{grid-column: span 8}
.col-7{grid-column: span 7}
.col-6{grid-column: span 6}
.col-5{grid-column: span 5}
.col-4{grid-column: span 4}
.col-3{grid-column: span 3}
.col-2{grid-column: span 2}
.col-1{grid-column: span 1}
//Grid gaps
.wide{ gap: 50px; }
.mid-gap{ gap: 25px }
.narrow{ gap: 10px;}