nav{
  display: grid;
  grid-template-columns: 15% 1fr;
  gap: 20px;
  align-items: center;
  width: 100%;
  min-height: 50px;
  padding: 0 20px;
  transition: all 0.1s linear;

  .navlinks{
    align-self: center;
    font-size: calc(1em + 0.5vw);
    font-weight: 200;
    text-transform: capitalize;
  }
  ul li{
    display: inline;
    padding: 0 5px;
  }
  .logo img{
    max-width: 90%;
    justify-self: center;
  }
  &.sticky{
    position: sticky;
    top: 0;
  }
  &:hover{
  box-shadow: 0 1px 1px 1px #bbb;
  }
}

